---
import background from '../assets/background.svg';
---

<div id="container">
  <img
    id="background"
    src={background.src}
    alt=""
    class="absolute -z-1 h-full w-full blur-3xl"
    fetchpriority="high"
  />
  <main class="flex h-screen flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">Democrateando</h1>
    <p class="text-lg text-gray-500">
      El acceso a la información para la mejor toma de decisiones políticas
    </p>
  </main>
</div>
